*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 90vh;
    background-color: rgb(100, 100, 100);
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width: 50vh;
    height: 60vh;
    background: linear-gradient(90deg, rgb(102, 102, 102) 0%, rgba(69,69,69,1) 5%, rgba(69,69,69,1) 95%, rgb(102, 102, 102) 100%);
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 15px rgba(196, 192, 192, 0.61);
}
#text{
    position: relative;
    top: 10px;
    width: 100%;
    height: 70px;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 4px;
    background-color: rgba(133, 133, 133, 0.459);
    font-size: 30px;
    padding: 12px 5px;

}
#text::placeholder{
    color: white;
}
.line1, .line2, .line3, .line4, .line5{
    padding: 3px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
button{
    width: 63px;
    height: 30px;
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(64,64,68,1) 65%, rgba(194,194,194,1) 100%);
    border-radius: 4px;
    margin: 1px;
    color: rgb(223, 225, 226);
    padding: 2px;
    position: relative;
    top: 20px;
}
.buttons{
    margin-top: 10px;
}
button:hover{
    cursor: pointer;
}
